<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Profile</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/stylePatient.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.9.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.webp" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html"><%= Doctors[0].FName %></a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          \  <li><a href="#" class="nav-link scrollto" onclick="showHiddenFields()"><i class="bx bx-edit"></i> <span>Edit</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->


  <main id="main">

    <script> 
      function showHiddenFields() {
        hideEditableElements();
        var hiddenInputs = document.querySelectorAll('input[required][hidden]');
        for (var i = 0; i < hiddenInputs.length; i++) {
          hiddenInputs[i].removeAttribute('hidden');
        }
        var deleteBtns = document.querySelectorAll('button[name="submit"][hidden]');
        if (deleteBtns) {
          deleteBtns.forEach(function(btn) {
            btn.removeAttribute('hidden');
          });
        }
      }
      function hideEditableElements() {
          const editableElements = document.querySelectorAll('.editable');
          editableElements.forEach((element) => {
            element.hidden = true;
      });
      }
    </script>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/profile-img.webp" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3><%= Doctors[0].FName %></h3>
            <div class="row">
              <div class="col-lg-6">
                <form action="/DoctorSaveEdit" method="post"> 
                  <div class="form-field" style="position: relative;">
                <ul>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> 
                    <span class="editable"  contenteditable="true"><%= Doctors[0].FName %></span>
                    <input class="editField" type="text" name="FName" id="FName" value="<%= Doctors[0].FName %>" required hidden/>
                  </li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>username:</strong> 
                    <span class="editable"  contenteditable="true"><%= Doctors[0].username %></span>
                    <input class="editField" type="text" name="username" id="username" value="<%= Doctors[0].username %>" required hidden/>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>password:</strong> 
                    <span class="editable"  contenteditable="true"><%= Doctors[0].password %></span>
                    <input class="editField" type="text" name="password" id="password" value="<%= Doctors[0].password %>" required hidden/>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Gender:</strong> 
                    <span class="editable"  contenteditable="true"><%= Doctors[0].gender %></span>
                    <input class="editField" type="text" name="gender" id="gender" value="<%= Doctors[0].gender %>" required hidden/>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> 
                    <span class="editable" contenteditable="true"><%= Doctors[0].mobile %></span>
                    <input class="editField" type="text" id="mobile" name="mobile" value="<%= Doctors[0].mobile %>" required hidden/>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Street:</strong> 
                    <span class="editable" contenteditable="true"><%= Doctors[0].street %></span>
                    <input class="editField" type="text" id="street" name="street" value="<%= Doctors[0].street %>" required hidden/>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> 
                    <span class="editable"  contenteditable="true"><%= Doctors[0].city %></span>
                    <input class="editField" type="text" id="city" name="city" value="<%= Doctors[0].city %>" required hidden/>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Building No:</strong> 
                    <span class="editable" contenteditable="true"><%= Doctors[0].buildingNo %></span>
                    <input class="editField" type="text"  id="buildingNo" name="buildingNo" value="<%= Doctors[0].buildingNo %>" required hidden/>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>specialization:</strong> 
                    <span class="editable" contenteditable="true"><%= Doctors[0].specialization %></span>
                    <input class="editField" type="text"  id="specialization" name="specialization" value="<%= Doctors[0].specialization %>" required hidden/>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> 
                    <span class="editable"  contenteditable="true"><%= Doctors[0].birthDate %></span>
                    <input class="editField" type="text"id="birthDate" name="birthDate" value="<%= Doctors[0].birthDate %>" required hidden/>
                  </li>
                  <% const birthdateStr = Doctors[0].birthDate; %>
                  <!-- Parse the birthdate string into a Date object -->
                  <% const [day, month,year] = birthdateStr.split('-').map(Number); %>
                  <% const birthdate = new Date(year, month - 1, day); %>
                  
                  <!-- Calculate the age -->
                  <% const today = new Date(); %>
                  <% var age = today.getFullYear() - birthdate.getFullYear(); %>
                  <% const monthDiff = today.getMonth() - birthdate.getMonth(); %>
                  <% if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthdate.getDate())) { %>
                    <% age--; %>
                  <% } %>

                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> 
                    <span class="editable" contenteditable="true"><%= age.toString() %></span>
                    <input class="editField" type="text"  id="age" name="age"  value="change birthdate" required hidden/>
                  </li>
                  </ul>
                  <input type="hidden" name="doctorID" value="<%= Doctors[0].ID %>">
                  <button class="btn" name="submit" type="submit" required hidden style="position: absolute; right: 120px; margin-top: 0px;background-color:#4CAF50; border: none; color: white;padding:3px 3px;text-align: center; ;border-radius: 8px;">Save Edit</button>
                </div>
              </form>
              <form action="DeleteDoctor" method="post">
                <div class="form-field" style="position: relative;">
                 <input type="hidden" name="doctorID" value="<%= Doctors[0].ID %>" >
                  <button class="btn" name="submit" type="submit" required hidden style="position: absolute; right: 5px; margin-top: 0px;background-color: red; border: none; color: white;padding:3px 3px;text-align: center; ;border-radius: 8px;">Delete</button>
                </div>
              </form>
            
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    
    

   
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; <strong><span>QUARANTINE VIRTUAL DOCTOR</span></strong>
        <br>
        <strong><a href="http://www.helwan.edu.eg">Faculty Of Engineering - Helwan University</a><strong>
        <br>
        </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>